@import "~bootstrap/dist/css/bootstrap.min.css";
#base {
  background-color: green;
}
.card-container {
  background-color: white;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
}

.symbol-up {
  display: block;
  text-align: left;
  font-size: 80px;
  padding-left: 10px;
}

.number {
  font-size: 100px;
}

.symbol-down {
  display: block;
  transform: rotate(180deg);
  text-align: left;
  font-size: 80px;
  padding-left: 10px;
}
